<h1 class="text-center my-4">Catálogo de productos</h1>

<div class="container">
    <div class="row justify-content-center">
        {{#each productos}}
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{this.imagen}}" class="card-img-top" alt="{{this.nombre}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.nombre}}</h5>
                    <p class="card-text">{{this.descripcion}}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{this.precio}}</p>
                    <a href="#" class="btn btn-primary">Pedir precio</a>


                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>